* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin: 20px;
  }
  
  .matrix-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 990px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .matrix {
    width: 50%;
    margin-bottom: 20px;
  }
  
  .matrix-1 {
    padding-right: 20px;
  }
  
  h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  titleR {
    text-align: center;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table td {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    height: 40px;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    text-align: center;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .buttons {
    align-items: center;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
  }
  
  #resetBtn {
    background-color: red;
    color: white;
  }
  
  #resultMatrix {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
  }
  
  #resultMatrix td {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .matrix-cell {
    width: 100%;
    height: 40px;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    text-align: center;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  @media screen and (max-width: 768px) {
    .button {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .button {
      padding: 6px 12px;
      font-size: 12px;
    }
  }